{{ define "main" }}

  {{- partial "main/breadcrumbs" . }}
  {{- partial "main/title" .Title }}

  <div class="row">
    <div class="column column-75">
      <section class="content">
        {{ $blogSection := .Site.Params.blog_section }}
        {{ $paginator := .Paginate ( where .Site.RegularPages.ByDate.Reverse "Section" $blogSection ) }}
        {{ range $paginator.Pages }}
            {{- partial "post/inline.html" . }}
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
      <hr>
    </div>

    <div class="column">
      {{- partial "sidebar/default" .}}
    </div>
  </div>


{{ end }}