<aside class="sidebar">
  <div class="widget">
    <h4 class="widget-title">Table of content</h4>
    <ul class="widget-menu">
      <li><a href="#typography" title="Typography">Typography</a></li>
      <li><a href="#emphasis" title="Emphasis">Emphasis</a></li>
      <li><a href="#lists" title="Lists">Lists</a></li>
      <li><a href="#links" title="Links">Links</a></li>
      <li><a href="#buttons" title="Buttons">Buttons</a></li>
      <li><a href="#images" title="Images">Images</a></li>
      <li><a href="#code" title="Code">Code</a></li>
      <li><a href="#blockquotes" title="Blockquotes">Blockquotes</a></li>
      <li><a href="#grid" title="Grid">Grid</a></li>
      <li><a href="#tables" title="Tables">Tables</a></li>
      <li><a href="#hr" title="Horizontal Rule">Horizontal Rule</a></li>
      <li><a href="raw-html" title="Raw HTML">Raw HTML</a></li>
    </ul>
  </div>

  <div class="widget">
    <h4 class="widget-title">Bookmarks</h4>
    <ul class="widget-menu">
      <li><a href="https://milligram.io/" title="Milligram css">Milligram css</a></li>
      <li><a href="https://simplelineicons.github.io/" title="Simple Line Icons">Simple Line Icons</a></li>
      <li><a href="https://unsplash.com/" title="Images by Unsplash">Images by Unsplash</a></li>
      <li><a href="https://error404.fun/" title="404 Illustrations">404 Illustrations</a></li>
    </ul>
  </div>

</aside>