{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="widget">
  <h4 class="widget-title">{{ i18n "related" (len $related) }}</h4>
  <ul class="widget-menu widget-menu__articles">
    {{ range . }}
    <li>
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
        {{ with .Resources.GetMatch "cover" }}
        {{ $defaultImage := .Fill "600x337"}}
        <div class="widget-img">
          <img src="{{ $defaultImage.Permalink }}" />
        </div>
        {{ end }}
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}