{{ define "main" }}

  {{- partial "main/breadcrumbs" . }}
  {{- partial "main/title" .Title }}

  {{- partial "meta/results" . }}

  <div class="row">
    <div class="column column-75">
      <section class="content">
      {{ range (.Paginator).Pages }}
        {{- partial "post/inline" . }}
      {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
      <hr>
    </div>
    <div class="column">
      {{- partial "sidebar/default" . }}
    </div>
  </div>

{{ end }}
