{{ define "main" }}

  {{- partial "main/breadcrumbs" . }}
  {{- partial "main/title" .Title }}

  <div class="row">
    <div class="column column-75">
      <section class="content">
        {{ with .Resources.GetMatch "cover" }}
        <div class="cover-img">
          <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Fill "805x453" }}
            
            {{- partial "image/figure-caption.html" $image }}
          </a>
        </div>
        {{ end }}

        <div class="meta">
          {{- partial "meta/reading-time" . }}
        </div>
        <br />

        {{ .Content }}

        <div class="meta meta-border">{{- partial "meta/date" . }}{{- partial "meta/category" . }}{{- partial "meta/tags" . }}</div>

        {{- partial "main/author" . }}

        {{- partial "main/nextprev" . }}

        <hr>
        

      </section>
    </div>
    <div class="column">
      {{- partial "sidebar/article" . }}
    </div>
  </div>

{{ end }}
