<footer class="footer">
  <div class="wrapper">
    <div class="container">
      {{ if .Site.Params.description }}
      <div class="row">
        <div class="column column-33">
          <h5 class="footer-title">{{ .Site.Title }}</h5>
          <p>{{ .Site.Params.description }}</p>
        </div>
      </div>
      {{ end }}
      <hr>
      <div class="copyright row">
        <div class="column">
          <p>{{ now.Format "2006"}} &copy; {{ i18n "copyright" }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JS Plugins -->
{{- range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}


<!-- Main Script -->
{{- $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>

{{- partial "adsense/script" . }}