.footer{
  margin-top: 7rem;
  padding: 7rem 0 3rem;
  background: $color-footer;
  color: rgba($color-footer-text, 0.82);
  font-size: $font-size-xs;

  &-title{
    font-family: $font-body;
    font-weight: bold;
    color: $color-footer-text;
    font-size: $font-size-s;
  }

  hr{
    border-color: rgba($color-footer-text, 0.82);
  }
}