.main{
  min-height: calc(100vh - 24rem);
  background: $color-initial;
  border-radius: $border-radius;
}

.wrapper{
  max-width: 144rem;
  margin: 0 auto;
}

// Larger than mobile screen
@media (min-width: 40.0rem){
  .main{
    margin-top: 7.5rem;
  }
}