.nextprev{
  position: relative;
  overflow: hidden;
  padding: 3.2rem 0 0 0;
  border-top: .1rem solid $color-border;
  font-size: $font-size-xs;
}

.next,
.prev{
  order:1;
  margin-bottom: 3.2rem;

  &-link,
  &-link:hover{
    text-decoration:none;
  }

  &-img{
    float: left;
    display: flex;
    margin: 0 2rem 0 0;
  }

  &-text{
    text-transform: uppercase;
  }
  
  &-title{
    font-size: $font-size-s;
  }
}

// Larger than mobile screen
@media (min-width: 40.0rem){
  .next{
    text-align: right;

    &-img{
      float: right;
      margin: 0 0 0 2rem;
    }
  }
}