.post{
  margin-bottom: 3.6rem;

  &-img{
    margin: 0 0 0.8rem;

    img{
      max-width: 100%;
    }

    a{
      display: flex;
    }
  }

  &-title{
    text-transform: capitalize;
    margin:0;
    
    a{
      @include style-headline;
    }
  }

  p{
    margin-bottom: 1.2rem;
  }
}

// Larger than mobile screen
@media (min-width: 40.0rem){
  .post{
 
    &-inline{
      display: flex;
    }

    &-content{
      padding: 0;
    }
  }
}