.widget{
  margin: 0 0 2.2rem;
  padding: 0;

  &-title{
    text-transform: uppercase;
  }

  &-img{
    display: flex;
    overflow: hidden;
    border-radius: $border-radius;
  }

  &-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      font-size: $font-size-s;
    }
    a{
      @include style-widget-link;
      text-decoration: none;
    }

    &.widget-menu__inline{
      li{
        display: inline-block;
        margin: 0 0.6rem 0 0;
      }
    }

    &.widget-menu__small{
      li{
        font-size: $font-size-xs;
      }
    }
  }
}