// Default colors
$color-project-primary: #1f1235;
$color-project-secondary: #1b1425;

// Default gray color
$color-gray: #606c76;

// Borders
$color-border:#e9eaeb;

// Footer
$color-footer: #1c1b1d;
$color-footer-text: #ccc;