// Theme colors
$color-initial: #fff;
$color-primary:  #e765f3;// Highlight

// Text
$color-text-primary: $color-project-primary; // Headline
$color-text-secondary: $color-project-secondary; // sub headline
$color-text-ligth: rgba($color-text-primary, 0.42);

// Links
$color-link: $color-primary; // Button
$color-link-hover: $color-link;

// Buttons
$color-button: $color-primary;
$color-button-hover: $color-gray;

// Mixins
@mixin style-figcaption{
  background: rgba($color-project-primary, 0.25);
  color: $color-initial;
  h4{
    color: $color-initial;
  }
}

@mixin style-header{
  // Add custom style
  // background: linear-gradient(90deg, $color-primary 0%, $color-primary 100%);
}

@mixin style-headline{
  color: $color-text-primary;

  &:hover{
    color: $color-text-primary;
    text-decoration: underline;
  }
}

@mixin style-menu-link{
  color: $color-initial;
}

@mixin style-wall{
  // Hero patterns - https://www.heropatterns.com/
  background-color: $color-primary;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin style-widget-link{
  color: $color-text-primary;

  &:hover{
    color: $color-primary;
  }
}